/**
 * @author 靳宏灿
 * @date 2019/8/30
 * @time 上午9:59
 * @Description: 搜索内容区的样式
*/

/* 搜索区 */
.home_search_area {
    /*min-height: 200px;*/
}

/* 搜索区的outline清除 */
.home_body *, .home_body *:focus {
    outline: 0px !important;
}

/* 搜索框 */
.home_search_box {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: url("../images/road.jpg") no-repeat center 70%;
    /*background-size: cover;*/
    background-size: 100% 300%;
}

/* input 边框样式设置 */
.home_search_box .form-control:focus {
    border-color: #95a3c8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(5, 1, 4, 0.37);
}

/* 重写搜索框的圆角 */
.home_search_box .form-control {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.home_search_box .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-color: #95a3c8;
    border-color: #95a3c8;
    color: #fff;
}

.home_search_box .btn:hover,
.home_search_box .btn:active:hover,
.home_search_box .btn:focus,
.home_search_box .btn:active {
    background-color: #95a3c8;
    border-color: #95a3c8;
    color: #fff;
}

.home_search_box .input-group-btn {
    width: 15%;
}

#home_search_group {
    opacity: 0.7;
    transition: opacity 0.35s;
}

#home_search_group:focus,
#home_search_group:hover {
    opacity: 1;
}

/* 搜索框遮罩层 css */
.home_search_box_mask_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
}

/* 搜索条件区 */
.home_search_condition_area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f5efc8 30%, #fbfaf7);
}

/* 搜索条件列表 */
.home_search_condition_list {
    width: 70%;
    /*background: #f8f8f8;*/
}

/* 搜索条件单个集合 */
.home_search_condition_group {
    width: 100%;
}

/* 搜索标签的垂直对齐 */
.home_search_type, .home_search_item_group, .home_search_item {
    min-height: 45px;
    line-height: 45px;
    display: inline-block;
}

/* 搜索条件的类别 */
.home_search_type {
    width: 80px;
    text-align: center;
    vertical-align: top;
}

/* 搜索标签的 btn 的样式 */
.home_search_condition_group .btn {
    border-radius: 4px;
    font-size: 16px;
    padding: 4px 10px;
}

.home_search_condition_selected .jhc_search_type_btn {
    background-color: #95a3c8 !important;
    border-color: #95a3c8 !important;
    color: #fff !important;
}

.jhc_search_type_btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #585c68 !important;
    cursor: unset !important;
}

/* 搜索标签的样式 */
.home_search_item {
    margin-right: 10px;
}

/* 搜索标签的下划线 */
.home_search_item_group {
    border-bottom: 1px solid #ccc;
    width: calc(100% - 100px);
}

.home_search_condition_list .home_search_condition_group:last-child .home_search_item_group {
    border-bottom: 0px solid #ccc;
}

/* 搜索结果区 */
.home_search_result_area {
    display: flex;
    justify-content: center;
    max-height: calc(100% - 440px);
    overflow-y: scroll;
    padding-top: 10px;
}

/* 搜索结果列表 */
.home_search_result_list {
    width: 70%;
}

/* 右上角链接按钮组 */
.jhc_btn_group {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: #95a3c8;
}

.jhc_back_to_home {
    background: url("../images/home.jpg");
}

.jhc_go_to_github {
    background: url("../images/github.jpg");
}

.jhc_link_btn {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

