body {
  margin: 0;
  padding:0;
}

// 主页的css
.#{$prefix}_home_page {
  width:100%;
  height:100vh;
  background: url("../image/beautifulGreenSky.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  filter: grayscale(0.1);
}

// 首页的中心区域
.#{$prefix}_center_area{
  position: absolute;
  top:30%;
  width:100%;
}